/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Styling*/
body{
    font-family: 'Fredoka', sans-serif;
    background-color: #fffffe;
}

/*Color Palette:
    body background: #fffffe
    main title: #e53170
    card name: #fffefb
    card background: #0f0e17
    links: #48ade0
*/

main{
    max-width: 1250px;

    margin: 1.5rem auto;

    text-align: center;
}

/*Header Styling*/
header{
    width: 100%;
    height: 8vh;
    
    line-height: 8vh;
}

header h1{
    display: inline-block;

    color: #e53170;
    font-size: 2.4em;
    font-weight: 700;
}

/*Paragraph Styling*/
p{
    font-size: 1.1em;

    margin: 2em 0;
}

/*Card Container and Cards styling*/
#cardContainer{
    width: 100%;

    margin-top: 3em;
}

.card{
    width: calc((100% / 3) - calc(70px / 3));
    height: 110px;

    background-color: #0f0e17;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);

    float: left;
}

.card:nth-child(3n+2){
    margin: 0 35px;
}

.card:nth-child(n+4){
    margin-top: 50px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*Card content styling*/
img{
    height: 100%;

    float: left;
}

.cardInfoContainer{
    height: 100%;
    width: calc(100% - 110px);  /*110px = img size*/

    padding: 15px;

    text-align: left;
    color: #fffefb;

    float: left;
}

.cardInfoContainer > *{
    display: inline-block;
    width: 100%;

    margin-bottom: 6px;
}

.name{
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
}

.email{
    text-decoration: none;
    color: #48ade0;
}